.login-form {
  margin: auto;
  max-width: 400px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form label {
  font-weight: bold;
}

.login-form input {
  margin-bottom: 15px;
}

.login-form button {
  margin-top: 20px;
}
